<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp</title>
    <link rel="stylesheet" href="/style.css">
    <style>
         

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f8f8f8;
    font-family: 'Roboto', sans-serif;
 }

 section.chat_section{
    width: 800px;
    max-width: 90%;
    background: #fff;
    box-shadow: 0 0 10px black;
 }

 .brand{
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
 }

 .brand h1{
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
 }

 .message_area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
 }

 textarea{
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    overflow: hidden;
    outline: none;
    background: #d7d4d4;
 }

 ::-webkit-scrollbar{
    opacity: 0;
 }

 .message{
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
 }

 .incoming{
    background: #8F88E8;
    color: #fff;
 }

 .outgoing{
    background: #e9eafd;
    color: #787986;
    margin-left: auto;
 }

 .message h4{
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
 }

 #send{
    display: flex;
    align-items: center;
 }
</style>
</head>
<body>
    <section class="chat_section">
        <div class="brand">
            <img src="/public/whats.png" alt="">
            <h1>whatsapp</h1>
        </div>
        <div class="message_area">
            
        </div>

        <div id="Send">
            <textarea  id="txt_area" rows="0" placeholder="Type a message"></textarea>
            <!-- <button>Send</button> -->
        </div>
    </section>


    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js">
    const socket = io();

let namee;
let textArea = document.getElementById('txt_area');
let messageArea = document.getElementsByClassName('message_area')[0];

do {
    namee = prompt("Please Enter your name");
} while (!namee);

textArea.addEventListener('keydown', (e) => {
    if (e.key === 'Enter' && e.target.value.trim()) {
        sendMessage(e.target.value.trim());
        // textarea.value = '';
        e.target.value = '';
    }
});

function sendMessage(message) {
    let msg = {
        user: namee,
        message: message.trim()
    };

    appendMessage(msg, 'outgoing');

    socket.emit('message', msg);
}

function appendMessage(msg, type) {
    let mainDiv = document.createElement('div');
    mainDiv.classList.add(type, 'message');

    let markUp = `
    <h4>${msg.user}</h4>
    <p>${msg.message}</p>
    `;

    mainDiv.innerHTML = markUp;
    messageArea.appendChild(mainDiv);

    messageArea.scrollTop = messageArea.scrollHeight;
}

socket.on('message', (msg) => {
    appendMessage(msg, 'incoming');
});

</script>
</body>
</html>
